<kendo-grid [data]="gridData" [scrollable]="true">
  <kendo-grid-column field="N" title="N" sortable="false" width="10" class="row-number">
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
      <span>{{rowIndex}}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="tradeNameKa" title="მერჩანტის დასახელება" width="80"></kendo-grid-column>
  <kendo-grid-column field="externalMerchantId" title="მერჩანტის ID" width="80"></kendo-grid-column>
  <kendo-grid-column field="status" title="სტატუსი" width="50">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>{{ dataItem?.statusName }}</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Details" title="" [width]="30" [autoSize]="false" [sortable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="btn-group">
        <a class="item-details-link">
          <a *ngIf="dataItem.status === 2 || isCompanyCanceled" class="btn btn-primary btn-sm" target="_blank" [routerLink]="['/qrpayments/' + dataItem.id]"
             ngbDropdownItem>
            დეტალები
          </a>
          <button class="btn btn-danger"
                  *ngIf="dataItem.status === 0 && !isCompanyCanceled"
                  (click)="updateQrPaymentStatus(dataItem.id, 2)" appPermissionsattr
                  [permissionToCheck]="['R_QRM_Deny']">
            უარყოფა
          </button>

          <button class="btn btn-danger"
                  *ngIf="dataItem.status === 1 && !isCompanyCanceled"
                  (click)="updateQrPaymentStatus(dataItem.id, 3)" appPermissionsattr
                  [permissionToCheck]="['R_QRM_Block']">
            დაბლოკვა
          </button>

          <button class="btn btn-info"
                  *ngIf="(dataItem.status === 3) && !isCompanyCanceled"
                  (click)="updateQrPaymentStatus(dataItem.id, 1)" appPermissionsattr
                  [permissionToCheck]="['R_QRM_Unblock']">
            ბლოკის მოხსნა
          </button>
        </a>
        <div *ngIf="dataItem.status !== 2 && !isCompanyCanceled"
             class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-sm dropdown-toggle dropdown-toggle-split"
                  [ngClass]="{'btn-info': dataItem.status === 3, 'btn-danger': (!checkPaymentMerchantExternalId(dataItem.externalMerchantId) && dataItem.status === 0) || dataItem.status === 1}"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="btn btn-primary btn-sm" ngbDropdownItem>
              <button class="btn btn-success"
                      *ngIf="dataItem.status === 0"
                      (click)="updateQrPaymentStatus(dataItem.id, 1)" appPermissionsattr
                      [permissionToCheck]="['R_QRM_Confirm']">
                დათანხმება
              </button>
            </a>

            <a class="btn btn-primary btn-sm" target="_blank" [routerLink]="['/qrpayments/' + dataItem.id]"
               ngbDropdownItem>
              დეტალები
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
