<div class="container">
  <div class="alert alert-danger" *ngIf="userFound.response">{{userFound.message}}</div>
  <div class="form-group position-relative">
    <label for="firstName">კლიენტის ნომერი</label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="userClientNo">
    <span class="text-danger" *ngIf="submitted && userClientNo === ''">ველის შევსება სავალდებულოა</span>
  </div>
</div>
<kendo-dialog-actions>
  <button kendoButton (click)="onCancelAction()">გაუქმება</button>
  <button kendoButton id="confButton" (click)="onConfirmAction()" [primary]="true">
    შემოწმება
  </button>
</kendo-dialog-actions>
