.show {
  width: auto;
}

.hide {
  width: 0;
  height: 30px;
  padding: 0;
  overflow: hidden;
}

label {
  margin-bottom: 0;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.additional-filter-toggle {
  height: 30px;
  width: 170px;
}

input:not([type=checkbox]), kendo-dropdownlist {
  min-width: 200px;
}
