<div class="row p-0 m-0 mb-1 mt-1">
  <div class="col p-0 pl-1 pr-1 d-flex justify-content-end">
    <!--    <button kendoButton appPermissionsattr class="k-button-blue" [permissionToCheck]="['R_FACE_TRM_Export']"-->
    <!--            (click)="export()">-->
    <!--      ექსპორტი-->
    <!--    </button>-->
    <!--    <button kendoButton class="kendo-details-button k-button-blue" appPermissionsattr-->
    <!--            [permissionToCheck]="['R_FACE_TRM_Register']" (click)="openDialog()">Face პლანშეტის დამატება-->
    <!--    </button>-->
  </div>
</div>
<kendo-grid [data]="gridView"
            [loading]="isLoading"
            #gridComponent>
  <kendo-grid-column field="logoUrl" title="ლოგო" width="50">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="ლოგო">ლოგო</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div>
        <img [src]="getLogoUrl(dataItem.logoUrl)" alt="img" class="product-image">
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="webAddress" title="ვებ-გვერდი" width="70">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="ვებ-გვერდი">ვებ-გვერდი</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="status" title="სტატუსი" width="60">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="სტატუსი">სტატუსი</span>
    </ng-template>
    <ng-template kendoGridFilterCellTemplate let-filter>
      <app-dropdown-filter [textField]="'key'"
                           [valueField]="'status'"
                           [gridFilter]="filter"
                           [data]="logoStatusDropDown">
      </app-dropdown-filter>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>
        {{
        dataItem.status === 0 ?
        "დასადასტურებელი" :
        dataItem.status === 1 ?
        "დადასტურებული" :
        dataItem.status === 2 ?
        "უარყოფილი" :
        "წაშლილი"
        }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="comment" title="კომენტარი" width="100">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="კომენტარი">კომენტარი</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <span [ngClass]="{'cursor-pointer': dataItem.comment?.length > commentMaxLength}" (click)="dataItem.comment?.length > commentMaxLength && showFullComment(dataItem.comment)">
        {{
        sliceComment(dataItem.comment)
        }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="merchantExternalId" title="მერჩანტ ID" width="80">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="მერჩანტ ID">მერჩანტ ID</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="tradeName" title="სავაჭრო სახელი" width="70">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="სავაჭრო სახელი">სავაჭრო სახელი</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="dateCreated" title="შექმნის თარიღი" width="100">
    <ng-template kendoGridHeaderTemplate>
      <span matTooltip="შექმნის თარიღი">შექმნის თარიღი</span>
    </ng-template>
    <ng-template kendoGridFilterCellTemplate let-filter>
      <date-range-picker from="dateCreatedFrom"
                         to="dateCreatedTo"
                         [filterState]="filter">
      </date-range-picker>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>{{ dataItem.dateCreated | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="Details" title="" width="60" [sortable]="false">
    <ng-template kendoGridFilterCellTemplate let-filter>
      <button (click)="resetFilter()" class="btn btn-sm btn-outline-secondary reset-filter">
        <i class="fa fa-filter"></i>
      </button>
    </ng-template>
    <
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="btn-group">
        <a [routerLink]="[dataItem.id]"
           class="item-details-link">
          <button class="btn btn-primary btn-sm" [disabled]="dataItem.status !== 0" (click)="confirm(dataItem.paymentMerchantId, dataItem.id)">დადასტურება</button>
        </a>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="btn btn-primary btn-sm" *ngIf="dataItem.status === 0 || dataItem.status === 1" (click)="decline(dataItem.paymentMerchantId, dataItem.id)"
               ngbDropdownItem>
              უარყოფა
            </a>
            <a class="btn btn-primary btn-sm"
               ngbDropdownItem [routerLink]="[dataItem.id + '/logs']">
              ლოგები
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<div kendoDialogContainer></div>
