<div class="form-control-feedback d-flex flex-column">
  <span *ngIf="formGroup.get(controlName).errors.required"
        class="text-danger text-danger-small">
    {{errors.required}}
  </span>
  <span *ngIf="formGroup.get(controlName).errors.pattern && !formGroup.get(controlName).errors.required && !formGroup.get(controlName).errors.minlength && !formGroup.get(controlName).errors.maxlength"
        class="text-danger text-danger-small">
    {{patternErrorMessage != null ? patternErrorMessage : errors.pattern}}
  </span>
  <span *ngIf="formGroup.get(controlName).errors.minlength && !formGroup.get(controlName).errors.required"
        class="text-danger text-danger-small">
    სიმბოლოების მინიმალური რაოდენობა {{minlength}}
  </span>
  <span *ngIf="formGroup.get(controlName).errors.maxlength && !formGroup.get(controlName).errors.required && !formGroup.get(controlName).errors.minlength"
        class="text-danger text-danger-small">
    სიმბოლოების მაქსიმალური რაოდენობა {{maxlength}}
  </span>
</div>
