<div class="row m-0">
  <div class="col pt-3">
    <app-register-posqr-terminal-registration-form [formSubmit]="formSubmitSub()"
                                                   (form)="registerPosQrTerminal($event)">
    </app-register-posqr-terminal-registration-form>
    <div class="row mr-0 ml-0">
      <div class="col p-0 pb-2 submit-button-container client-cont">
        <div>Client Secret/ID</div>
        <div>
          <button class="btn btn-info btn-sm" (click)="open()">ნახვა</button>
        </div>
      </div>
    </div>
    <div class="row mr-0 ml-0">
      <div class="col p-0 pb-2 submit-button-container">
        <button class="btn btn-primary w-50" (click)="formSubmit()">ახალის დამატება</button>
        <button class="btn btn-primary w-50" (click)="formSubmit('register')">რეგისტრაცია და დახურვა</button>
      </div>
    </div>
  </div>
</div>
<kendo-dialog title="Client ID/Secret"
              *ngIf="opened"
              (close)="close()"
              [minWidth]="250"
              [width]="400">
  <div class="client-container">
    <div class="client-id">
      <p>Client ID</p>
      <button kendoButton (click)="copyId()" themeColor="primary">COPY</button>
    </div>
    <div class="client-secret">
      <p>Client Secret</p>
      <button kendoButton (click)="copySecret()" themeColor="primary">COPY</button>
    </div>
  </div>
  <kendo-dialog-actions>
    <button kendoButton (click)="close()" themeColor="primary">
      გასაგებია
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<div kendoDialogContainer></div>
