#fixedDates {
  z-index: 111;
  display: inline-block;
}

.fixed-date {
  background: none;
  border: none;
  display: block;
  width: 75px;
  height: 26px;
  text-align: left;
  padding: 0 10px;
  margin-bottom: 12px;
  color: #ff6358;
  font-weight: 500;
  z-index: 3333;
  line-height: 0;

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px rgba(0,0,0, .1);
  }

  &:focus, &:visited {
    box-shadow: none;
    outline: none;
    border: none
  }
}

.reset-date {
  border-color: rgba(0, 0, 0, 0.08) !important;
}
